---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Roboto', 'Helvetica', sans-serif;;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.mdl-grid {
  display: flex !important;
}

body .hndmrsh {
	background: url('/static/bg.jpg') center / cover;
	font-family: "Roboto", "Helvetica", sans-serif;
}

.hndmrsh .mdl-layout__header,
.hndmrsh .mdl-layout__drawer-button,
.hndmrsh .mdl-layout__button {
  color: rgba(0,0,0,.87);
}

.hndmrsh .hndmrsh__search {
  z-index: 4;
}

.hndmrsh .hndmrsh__grid {
  max-width: 800px;
}

.hndmrsh .hndmrsh__post {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.hndmrsh__post .mdl-card__title {
  color: #fff;
  height: 176px;
}

.hndmrsh__game-thumb.mdl-card {
  width: 256px;
  height: 256px;
  background: url('/static/image_card.jpg') center / cover;
}

.hndmrsh__game-thumb > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.hndmrsh__game-thumb-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.hndmrsh .hndmrsh-back {
  top: 12px;
  left: 12px;
  position: absolute;
  text-align: center;
  z-index: 4;
}

.hndmrsh .mdl-layout__content {
  padding-top: 200px;
}