<!-- Uses a transparent header that draws on top of the layout's background -->
<style>
.demo-layout-transparent {
  background: url('../static/bg.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: rgba(0,0,0,.87);
}
</style>

<header class="mdl-layout__header mdl-layout__header--transparent">
  <div class="mdl-layout__header-row">
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <form action="#">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="sample6">
          <label class="mdl-textfield__label" for="sample-expandable">Search</label>
        </div>
      </div>
    </form>
</header>
<div class="mdl-layout__drawer">
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ "/" | prepend: site.baseurl }}"><i class="material-icons" role="presentation">home</i>Home</a>
    {% for page in site.pages %}
      {% if page.title %}
        <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}"><i class="material-icons" role="presentation">{{ page.icon }}</i>{{ page.title }}</a>
      {% endif %}
    {% endfor %}
  </nav>
</div>
<div class="mdl-layout-spacer"></div>

