<!-- Uses a transparent header that draws on top of the layout's background -->
<header class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div class="mdl-layout__header-row">
    {% unless page.categories contains 'blog' %}
      <span class="mdl-layout-title">{{ page.title }}</span>
    {% endunless %}

    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    
    <!-- Search box -->
    <form action="#">
      <div class="hndmrsh__search mdl-textfield mdl-js-textfield mdl-textfield--expandable">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" id="sample6">
          <label class="mdl-textfield__label" for="sample-expandable">Search</label>
        </div>
      </div>
    </form>

</header>

<!-- This section determines whether to show an appropriate back button, or the navigation drawer. Note that we check for the blog category first, as this is  -->
{% if page.categories contains 'blog' %}
  <div class="hndmrsh-back">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="/blog/" title="go back" role="button">
      <i class="material-icons" role="presentation">arrow_back</i>
    </a>
  </div>
{% elsif page.categories contains 'games' %}
  <div class="hndmrsh-back">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="/games/" title="go back" role="button">
      <i class="material-icons" role="presentation">arrow_back</i>
    </a>
  </div>
{% elsif page.categories contains 'apps' %}
  <div class="hndmrsh-back">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="/apps/" title="go back" role="button">
      <i class="material-icons" role="presentation">arrow_back</i>
    </a>
  </div>
{% elsif page.categories contains 'music' %}
  <div class="hndmrsh-back">
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="/music/" title="go back" role="button">
      <i class="material-icons" role="presentation">arrow_back</i>
    </a>
  </div>
{% else %}
  <!-- Construct a navigation drawer -->
  <div class="mdl-layout__drawer">
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{ "/" | prepend: site.baseurl }}"><i class="material-icons" role="presentation">home</i>Home</a>
      {% for page in site.pages %}
        {% if page.title %}
          <a class="mdl-navigation__link" href="{{ page.url | prepend: site.baseurl }}"><i class="material-icons" role="presentation">{{ page.icon }}</i>{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
{% endif %}

