$heading-font-family: 'Playball', cursive;
$text-color-secondary: #6E6E6E;

.mdl-grid {
  display: flex !important;
}

body .hndmrsh {
	font-family: "Roboto", "Helvetica", sans-serif;
  background-color: #f0f0f0;
}

.hndmrsh.mdl-layout {
  align-items: center;
}

.mdl-layout__header-row .mdl-navigation__link.hndmrsh-nav-link {
  opacity: 0.65;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  padding: 0px 24px;
  min-width: 80px;
  line-height: 48px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.mdl-layout__header-row .mdl-navigation__link.hndmrsh-nav-link.active {
  opacity: 1;
  border-bottom-color: #18ffff
}

.mdl-layout__header-row.hndmrsh-navigation-layout {
  height: 48px;
}

.mdl-layout__header-row .mdl-navigation.hndmrsh-navigation {
  height: 48px;
  text-align: center;
}

.hndmrsh-title-header {
  text-align: center;
  justify-content: center;
  min-height: 112px;
  height: 112px;
}

.hndmrsh-title {
  text-align: center;
  width: 100%;
}

.hndmrsh-title .mdl-layout-title {
  font-family: $heading-font-family;
  font-size: 72px;
  letter-spacing: 0;
}

.hndmrsh .mdl-layout__header,
.hndmrsh .mdl-layout__drawer-button,
.hndmrsh .mdl-layout__button {
  color: white;
}

.hndmrsh .hndmrsh__search {
  z-index: 4;
}

.hndmrsh .hndmrsh__grid {
  max-width: 840px;
}

.hndmrsh .hndmrsh__post {
  max-width: 900px;
  padding: 0;
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-shrink: 0;
}

.hndmrsh__post .mdl-card__title {
  color: #fff;
  height: 256px;
}

.mdl-card__title.hndmrsh-title-games {
  height: 196px;
}

.hndmrsh-card.mdl-card {
  height: 296px;
}

.hndmrsh-card > .mdl-card__title {
  color: #fff;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.hndmrsh .mdl-layout__content {
  padding-top: 130px;
  padding-bottom: 64px;
  width: 80%;
}

i.hndmrsh-icons:before {
  margin-left: 0px;
  margin-right: 8px;
}

.hndmrsh-under-construction {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.hndmrsh-under-construction img {
  text-align: center;
  color: $text-color-secondary
}

.hndmrsh-under-construction h2 {
  font-size: 16pt;
  text-align: center;
  font-weight: 400;
  color: $text-color-secondary
}

.hndmrsh-under-construction h1 {
  font-size: 20pt;
  text-align: center;
  font-weight: 400;
  color: $text-color-secondary
}

.hndmrsh-back-button.mdl-button {
  position: absolute;
}

.hndmrsh-share-button.mdl-button {
  float: right;
  position: absolute;
  right: 32px;
}

.hndmrsh-post-meta.post-meta {
  width: 97%;
  vertical-align: middle;
  padding: 24px 32px;
}

.hndmrsh-post-meta-left {
  position: relative;
  float: left;
}

.hndmrsh-post-content.post-content {
  width: 70%;
}

.hndmrsh__about h1 {
  font-family: $heading-font-family;
  font-size: 48pt;
  margin: 0px auto;
}

div.hndmrsh-links {
  text-align: center;
  margin-top: 16px;
}

div.hndmrsh-link {
  padding: 0px;
}

.hndmrsh-link i {
  vertical-align: middle;
}

.hndmrsh-link {
  padding: 64px;
}

img.hndmrsh-profile-picture {
  border-radius: 50%;
  justify-content: center;
}

article .hndmrsh-post-content {
  margin: 32px auto;
}

div.hndmrsh-release-date {
  margin-top: 8px;
}

div.hndmrsh-disqus {
  margin-top: 32px;
}

div.hndmrsh-art-date {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 16px;
  margin-right: 16px;
  width: auto;
  padding: 0;
  color: $text-color
}

.hndmrsh-art-date.hndmrsh-art-date-light {
  color: #fff
}

.post-header {
  margin-bottom: 0;
}

.image-wrapper {
    text-align: center;
    margin: 32px;

    .image-caption {
        color: $grey-color;
        margin-top: $spacing-unit / 3;
    }
}

img.hndmrsh-art-image {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: hidden;
}

.mdl-card.hndmrsh-music-card {
  min-height: 150px;
  height: 150px;
}

.hndmrsh-music-card .hndmrsh-music-card-inner{
  height: inherit;
  width: inherit;
}

.hndmrsh-music-card a {
  height: inherit;
  width: inherit;
}

.hndmrsh-music-card .hndmrsh-album-art {
  float: left;
  height: inherit;
  width: 150px;
}

.hndmrsh-music-card .hndmrsh-music-details {
  float: left;
  position: absolute;
  height: inherit;
  left: 150px;
  right: 0;
}

.hndmrsh-music-details .mdl-card__title {
  font-size: 14pt;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 32px;
  padding-bottom: 0px;
}

.hndmrsh-music-details .mdl-card__supporting-text {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 0px;
  padding-bottom:32px;
}

.mdl-card__actions.mdl-card--border {
    padding: 13px 0;
}

.mdl-card__actions .hndmrsh-music-details-date {
  width: auto;
  height: inherit;
  padding-left: 32px;
  float: left;
}

.mdl-card__actions .hndmrsh-music-details-genre {
  width: auto;
  height: inherit;
  padding-right: 32px;
  float: right;
}

.pswp__container iframe {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -375px 0 0 -300px;
}

.post-title.hndmrsh-post-title {
  margin-left: 8px;
}

.post-title.hndmrsh-post-title-games {
  font-size: 36px;
  font-weight: 200;
  margin-bottom: 16px;
}

.hndmrsh-post-content .hndmrsh-available-platforms {
  text-align: center;
  margin-bottom: 16px;
}

.hndmrsh-available-platforms h4 {
  margin: 0;
}

.hndmrsh-game-sidebar.mdl-cell {
  padding-right: 32px;
  text-align: center;
}

.hndmrsh-game-sidebar img {
  margin-top: 32px;
}
