---
layout: default
---

<script src="{{ "/static/scripts/photoswipe-init.js" | prepend: site.baseurl }}"></script>

{% if page.id contains "games" %}
  {% assign gamepost = true %}
{% endif %}

<div class="mdl-grid">
  <div class="hndmrsh__post mdl-card mdl-shadow--4dp mdl-cell mdl-cell--6-col">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">

        <style type="text/css">
          .hndmrsh__post .post__{{ page.id | slugify }} {
            background: {{ page.colour }};
          }
        </style>
        <div class="post__{{ page.id | slugify }} mdl-card__title hndmrsh-title-games">
          {% if gamepost %}
            {% assign backlink = "/games" %}
          {% else %}
            {% assign backlink = "/software" %}
          {% endif %}
          <a class="hndmrsh-back-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{{ backlink }}" title="Back" role="button">
            <i class="material-icons" role="presentation">arrow_back</i>
            <span class="mdl-button__ripple-container">
              <span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(16px, 28px);">
              </span>
            </span>
          </a>
          <h1 class="hndmrsh-post-title hndmrsh-post-title-games post-title mdl-card__title-text" itemprop="name headline">{{ page.title }}</h2>
        </div>
        <div class="mdl-card__supporting-text post-meta hndmrsh-post-meta">
          <span class="hndmrsh-post-meta-left">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">Released {{ page.release_date | date: "%d %B %Y"}}</time>
            {% if page.genres.size > 0 %}
              <div>Genres: {% assign first = true %}{% for genre in page.genres %}{% if first == false %}, {% endif %}<a href="#">{{ genre }}</a>{% assign first = false %}{% endfor %}</div>
            {% endif %}
            {% if page.created_for %}
              <div>Created for: <a href="{{ page.created_for.url }}">{{ page.created_for.name }}</a></div>
            {% endif %}
            {% if page.source_code %}
            <div>Source code: <a href="{{ page.source_code.url }}">{{ page.source_code.name }}</a></div>
            {% endif %}
            {% if page.seealso %}
              <div>See also: <a href="{{ page.see_also.url }}">{{ page.see_also.name }}</a></div>
            {% endif %}
          </span>
          <a class="hndmrsh-share-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="#" title="Share" role="button">
            <i class="material-icons" role="presentation">share</i>
            <span class="mdl-button__ripple-container">
              <span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(16px, 28px);">
              </span>
            </span>
          </a>
        </div>
      </header>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col">
          <div class="hndmrsh-post-content post-content mdl-color-text--grey-700" itemscope itemprop="articleBody" itemtype="http://schema.org/ImageGallery">
            <div class="hndmrsh-available-platforms">
              <h4>Available for:</h4>
              {% include platforms.html platforms=page.platforms %}
            </div>
            <p>
              <em>Download links are currently unavailable. They will be available shortly.</em>
            </p>
            {{ content }}
          </div>
        </div>
        <div class="hndmrsh-game-sidebar mdl-cell mdl-cell--4-col my-gallery">
          {% if page.cover %}
            {% capture cover %}
              {% if gamepost %}
                {% assign substr = page.id | slugify | split: "games-" %}/static/game-post-images/{{ substr[1] }}/{{ page.cover }}
              {% else %}
                {% assign substr = page.id | slugify | split: "software-" %}/static/software-post-images/{{ substr[1] }}/{{ page.cover }}
              {% endif %}
            {% endcapture %}
            <img src="{{ cover }}" alt="{{ page.title }} cover"/>
          {% endif %}
          {% if page.screenshots %}
            {% assign first = true %}
            {% for scrn in page.screenshots %}
              {% capture source %}
                {% if gamepost %}
                  {% assign substr = page.id | slugify | split: "games-" %}/static/game-post-images/{{ substr[1] }}/{{ scrn.url }}
                {% else %}
                  {% assign substr = page.id | slugify | split: "software-" %}/static/software-post-images/{{ substr[1] }}/{{ scrn.url }}
                {% endif %}
              {% endcapture %}
              {% capture count %}{{ page.screenshots | size }} screenshots {% endcapture %}
              {% capture w %}{{ scrn.width }}{% endcapture %}
              {% capture h %}{{ scrn.height }}{% endcapture %}
              {% capture hide %}{% if first == true %}false{% else %}true{% endif %}{% endcapture %}
              {% assign first = false %}
              {% include image.html
                img=source
                caption=count
                width=w
                height=h
                hidden=hide %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      <div class="hndmrsh-post-content post-content">
        {% include disqus.html %}
      </div>
      {% include photoswipe-init.html %}
    </article>
  </div>
</div>
